<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h1 class="display-2 text-uppercase text-white mb-md-4">
        Todo sobre {{ rutina.nombre }}
      </h1>
      <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
      <a href="" class="btn btn-light py-md-3 px-md-5">Detail</a>
    </div>
  </div>
</div>
<!-- Hero End -->
<ng-template #loader1>
  <div class="text-center" style="margin-top: 10%">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Cargando Rutinas...</p>
  </div>
</ng-template>
<!-- Blog Start -->
<div class="container-fluid p-5">
  <div class="row g-5">
    <div class="col-lg-8">
      <!-- Blog Detail Start -->
      <div class="mb-5" *ngIf="!loading; else loader">
        <div>
          <h1 class="text-uppercase mb-4">{{ rutina.nombre }}</h1>
          <p style="font-size: 30px;">{{ rutina.descripcion }}</p>
        </div>
        <div class="d-flex justify-content-center">
          <video class="w-75 mb-5 mt-5" controls>
            <source [src]="rutina.video_url" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>

      <!-- Blog Detail End -->

      <!-- Comment List Start -->
      <div class="container-fluid p-5" *ngIf="!loading; else loader">
        <div class="row g-5">
          <div class="col-lg-4" *ngFor="let rutina of ejercicios">
            <div class="blog-item">
              <div class="position-relative overflow-hidden rounded-top">
                <img
                  class="img-fluid"
                  [src]="'data:image/jpeg;base64,' + rutina.miniatura"
                  alt=""
                />
              </div>
              <div class="bg-dark d-flex align-items-center rounded-bottom p-3">
                <a
                  class="h5 text-uppercase text-light"
                  [href]="'/pages/grupos-musculares/video/' + rutina.id"
                  >{{ rutina.nombre }}</a
                >
                <!-- <a class="btn btn-light btn-sm ms-auto" [href]="'/pages/grupos-musculares/' + rutina.id" >Ver Ejercicios</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loader2>
        <div class="text-center" style="margin-top: 5%">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p class="mt-2">Cargando Videos</p>
        </div>
      </ng-template>
      <!-- Comment List End -->

      <!-- Comment Form Start -->

      <!-- Comment Form End -->
    </div>

    <!-- Sidebar Start -->
    <div class="col-lg-4">
      <!-- Search Form Start -->

      <!-- Search Form End -->
      <ng-template #loader>
        <div class="text-center" style="margin-top: 5%">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p class="mt-2">Cargando Informacion...</p>
        </div>
      </ng-template>
      <!-- Category Start -->
      <div class="mb-5">
        <h3 class="text-uppercase mb-4">Otros grupos musculares</h3>
        <div
          class="d-flex flex-column justify-content-start bg-dark rounded p-4"
          *ngIf="!loading; else loader"
        >
          <a
            *ngFor="let rutina of rutinas"
            class="fs-5 fw-bold text-light text-uppercase mb-2"
            [href]="'/pages/grupos-musculares/' + rutina.id"
            ><i class="bi bi-arrow-right text-primary me-2"></i
            >{{ rutina.nombre }}</a
          >
        </div>
      </div>

      <!-- Tags Start -->
      <div class="mb-5">
        <h3 class="text-uppercase mb-4">Equipo de Trabajo</h3>
        <div class="d-flex flex-wrap m-n1" *ngIf="!loading; else loader">
          <a *ngFor="let tag of tags" href="" class="btn btn-dark m-1">{{
            tag.nombre
          }}</a>
        </div>
      </div>
      <div class="mb-5">
        <h3 class="text-uppercase mb-4">Nivel de Dificultad</h3>
        <div class="d-flex flex-wrap m-n1" *ngIf="!loading; else loader">
          <a *ngFor="let eq of equipo" href="" class="btn btn-dark m-1">{{
            eq.nombre
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
