<div class="container-fluid p-5">
  <div class="row">
    <!-- Columna de formulario a la izquierda -->
    <div class="col-lg-6">
      <form [formGroup]="myForm" (ngSubmit)="submitForm()" style="margin-left: 5%;margin-top: 3%; margin-right: 5%;" class="row g-3" *ngIf="!loading; ">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" formControlName="nombre" class="form-control" id="nombre">
        </div>
        <div class="col-md-6">
          <label for="apellido" class="form-label">Apellido:</label>
          <input type="text" formControlName="apellido" class="form-control" id="apellido">
        </div>
        <div class="col-md-6">
          <label for="apellido2" class="form-label">Segundo Apellido:</label>
          <input type="text" formControlName="apellido2" class="form-control" id="apellido2">
        </div>
        <div class="col-md-6">
          <label for="correo" class="form-label">Correo electrónico:</label>
          <input type="email" formControlName="correo" class="form-control" id="correo">
        </div>
        <div class="col-md-6">
          <label for="rutina" class="form-label">Rutina:</label>
          <input type="text" formControlName="rutina" class="form-control" id="rutina">
        </div>
        <div class="col-md-6">
          <label for="sexo" class="form-label">Sexo:</label>
          <input type="text" formControlName="sexo" class="form-control" id="sexo">
        </div>
        <div class="col-md-6">
          <label for="fecha_embresia" class="form-label">Membresia:</label>
          <input type="text" formControlName="fecha_embresia" class="form-control" id="fecha_embresia">
        </div>
        <div class="col-md-6">
          <label for="fecha_embresia_pago" class="form-label">Membresia (Fecha de pago):</label>
          <input type="text" formControlName="fecha_embresia_pago" class="form-control" id="fecha_embresia_pago">
        </div>
        <div class="col-md-6">
          <label for="peso" class="form-label">Peso:</label>
          <input type="number" formControlName="peso" class="form-control" id="peso">
        </div>
        <div class="col-md-6">
          <label for="altura" class="form-label">Altura (en cm):</label>
          <input type="number" formControlName="altura" class="form-control" id="altura">
        </div>
        <div class="col-md-6">
          <label for="IMC" class="form-label">IMC:</label>
          <input type="number" formControlName="IMC" class="form-control" id="IMC">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="loadingBTN">
            <span *ngIf="loadingBTN" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!loadingBTN">Guardar Datos</span>
          </button>
        </div>
      </form>
    </div>

    <!-- Columna de tarjeta a la derecha -->
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <div class="card-container" (click)="toggleCard()">
        <div class="card-flip" [class.flipped]="isFlipped">
          <!-- Lado frontal de la tarjeta -->
          <div class="card-front" >
            <img style="
            position: absolute;
            width: 150%;"src="https://firebasestorage.googleapis.com/v0/b/infinitytech-15a41.appspot.com/o/usuario%2FWhatsApp%20Image%202024-10-26%20at%2021.33.00_a97b265b.jpg?alt=media&token=abfedee4-609e-40da-b2cb-1f0851603f3e" alt="Tarjeta de Cliente" />
          </div>
          <!-- Lado posterior de la tarjeta con los datos -->
          <div class="card-back">
            <img style="
            position: absolute;
            width: 150%;"src="https://firebasestorage.googleapis.com/v0/b/infinitytech-15a41.appspot.com/o/usuario%2FWhatsApp%20Image%202024-10-27%20at%2018.58.01_6a9a8b9e.jpg?alt=media&token=c6adbe6b-5e32-45c6-85fe-4f4c0f622748" alt="Datos del Cliente"  />
          <div class="card-info">
            <div class="info-left">
              <p><strong>Nombre Completo:</strong> {{ myForm.get('nombre')?.value }} {{ myForm.get('apellido')?.value }}</p>
              <p><strong>Correo Electrónico:</strong> {{ myForm.get('correo')?.value }}</p>
            </div>
            <div class="info-right">
              <p><strong>Altura:</strong> {{ myForm.get('altura')?.value }} cm</p>
              <p><strong>Peso:</strong> {{ myForm.get('peso')?.value }} kg</p>
              <p><strong>IMC:</strong> {{ myForm.get('IMC')?.value }}</p>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
