<div class="container-fluid bg-dark px-0">
  <div class="row gx-0">
    <div class="col-lg-3 bg-dark d-none d-lg-block">
      <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
          <img src="
          https://firebasestorage.googleapis.com/v0/b/infinitytech-15a41.appspot.com/o/Logo-min.png?alt=media&token=0e8916f3-607a-48a0-af25-a60ffe88b5d2       
             " alt="InfinityTech Logo" class="mr-2" style="height: 80px; width: auto;">
          <h1 class="m-0 display-4 text-primary text-uppercase">
              InfinityTech
          </h1>
      </a>
  </div>
  
    <div class="col-lg-9">
      <div class="row gx-0 bg-secondary d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center py-2 me-4">
            <i class="fa fa-envelope text-primary me-2"></i>
            <h6 class="mb-0">itlac21560354@lcardenas.tecnm.mx</h6>
          </div>
          <div class="h-100 d-inline-flex align-items-center py-2">
            <i class="fa fa-phone-alt text-primary me-2"></i>
            <h6 class="mb-0">+52 1 753 168 5671</h6>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="d-inline-flex align-items-center py-2">
            <a class="btn btn-light btn-square rounded-circle me-2" href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-light btn-square rounded-circle me-2" href="">
              <i class="fab fa-twitter"></i>
            </a>
            <!-- <a class="btn btn-light btn-square rounded-circle me-2" href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="btn btn-light btn-square rounded-circle me-2" href="">
              <i class="fab fa-instagram"></i>
            </a> -->
            <a class="btn btn-light btn-square rounded-circle" href="">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
      <nav
        class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5"
      >
        <a href="index.html" class="navbar-brand d-block d-lg-none">
          <h1 class="m-0 display-4 text-primary text-uppercase">InfinityTech</h1>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav mr-auto py-0">
            <!-- <a routerLink="../" class="nav-item nav-link active">Home</a> -->
            <!-- <a routerLink="/about" class="nav-item nav-link">About</a>
            <a routerLink="/classes" class="nav-item nav-link">Classes</a> -->
            <!-- <a routerLink="/trainer" class="nav-item nav-link">Trainers</a> -->
            <!-- <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                >Pages</a
              >
              <div class="dropdown-menu rounded-0 m-0">
                <a routerLink="/pages/blog-gird" class="dropdown-item"
                  >Blog Grid</a
                >
                <a routerLink="/pages/blog-detail" class="dropdown-item"
                  >Blog Detail</a
                >
                <a routerLink="/pages/testimontal" class="dropdown-item"
                  >Testimonial</a
                >
              </div>
            </div> -->

            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                >Inicio</a
              >
              <div class="dropdown-menu rounded-0 m-0">
                <a routerLink="/pages/blog-gird" class="dropdown-item"
                  >Ejercicios</a
                >
                <a routerLink="/pages/blog-detail" class="dropdown-item"
                  >Maquina de Ejercicios</a
                >
                
              </div>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                >Ejercicios</a
              >
              <div class="dropdown-menu rounded-0 m-0">
                <a routerLink="/pages/blog-gird" class="dropdown-item"
                  >Con Mancuerna</a
                >
                <a routerLink="/pages/blog-detail" class="dropdown-item"
                  >Con Barra</a
                >
                <a routerLink="/pages/blog-detail" class="dropdown-item"
                >Con Maquina</a
              >
                
              </div>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                >Grupos Musculares</a
              >
              <div class="dropdown-menu rounded-0 m-0">
                <a routerLink="/pages/blog-gird" class="dropdown-item"
                  >Todo</a
                >
                <a routerLink="/pages/blog-detail" class="dropdown-item"
                  >Pecho</a
                >
                <a routerLink="/pages/blog-detail" class="dropdown-item"
                >Espalda</a
              >
                
              </div>
            </div>

            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                >Informacion</a
              >
              <div class="dropdown-menu rounded-0 m-0">
                <a routerLink="/pages/blog-gird" class="dropdown-item"
                  >Lesiones</a
                >
                <a routerLink="/pages/blog-detail" class="dropdown-item"
                  >Guia de recuperacion</a
                >
               
                
              </div>
            </div>
            <a routerLink="/contact" class="nav-item nav-link">Contacnos</a>
          </div>
          <a
            [routerLink]="isLoggedIn === 'true' ? 'logout' : 'login'"
            (click)="logout()"
            class="btn btn-primary py-md-3 px-md-5 d-none d-lg-block"
          >
            {{ isLoggedIn === "true" ? "Cerrar sesión" : "Iniciar sesión" }}
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
