<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Crear cuenta</h2>
          <form (ngSubmit)="crearCuenta()" #createForm="ngForm">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre:</label>
              <input type="text" id="nombre" name="nombre" class="form-control" required [(ngModel)]="nombre">
            </div>
            <div class="mb-3">
              <label for="apellido1" class="form-label">Apellido 1:</label>
              <input type="text" id="apellido1" name="apellido1" class="form-control" required [(ngModel)]="apellido1">
            </div>
            <div class="mb-3">
              <label for="apellido2" class="form-label">Apellido 2:</label>
              <input type="text" id="apellido2" name="apellido2" class="form-control" [(ngModel)]="apellido2">
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Correo electrónico:</label>
              <input type="email" id="correo" name="correo" class="form-control" required [(ngModel)]="correo">
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label">Contraseña:</label>
              <input type="password" id="contrasena" name="contrasena" class="form-control" required [(ngModel)]="contrasena">
            </div>
            <div class="mb-3">
              <label for="confirmarContrasena" class="form-label">Confirmar contraseña:</label>
              <input type="password" id="confirmarContrasena" name="confirmarContrasena" class="form-control" required [(ngModel)]="confirmarContrasena">
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="!loading" (click)="crearCuenta()">Crear cuenta</span>
            </button>
          </form>
          <p class="text-center mt-3">¿Ya tienes una cuenta? <a (click)="login()" class="text-decoration-none">Iniciar sesión</a></p>

        </div>
      </div>
    </div>
  </div>
</div>
