<div class="container-fluid p-5" *ngIf="!loading; else loader">
  <div
    class="mb-5 text-center d-flex justify-content-between align-items-center"
  >
  <div style="
  margin-right: -300%;">
    <h5  style="
  margin-right: -300%;" class="text-primary text-uppercase">Rutinas Para Todos</h5>
    <h1  style="
  margin-right: -300%;" class="display-3 text-uppercase mb-0">Mas Ejercicios</h1>
  </div>

     <a routerLink="/pages/preguntas-rutinas-test" class="btn btn-primary"
      >Hacer Prueba</a
    >
  </div>
  <div class="row g-5">
    <div class="col-lg-4" *ngFor="let rutina of rutinas">
      <div class="blog-item">
        <div class="position-relative overflow-hidden rounded-top">
          <img
            class="img-fluid"
            [src]="'data:image/jpeg;base64,' + rutina.imagen"
            alt=""
          />
        </div>
        <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
          <div
            class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3"
          >
            <span>{{ rutina.created_at | date : "dd" }}</span>
            <h6 class="text-light text-uppercase mb-0">
              {{ rutina.created_at | date : "MMM" }}
            </h6>
            <span>{{ rutina.created_at | date : "yyyy" }}</span>
          </div>
          <a
            class="h5 text-uppercase text-light"
            [href]="'/pages/rutinas-publicas/' + rutina.id"
            >{{ rutina.nombre }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="text-center" style="margin-top: 5%">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Cargando Rutinas...</p>
  </div>
</ng-template>
