<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h1 class="display-2 text-uppercase text-white mb-md-4">Contact</h1>
      <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
      <a href="" class="btn btn-light py-md-3 px-md-5">Contact</a>
    </div>
  </div>
</div>

<!-- Contact Start -->
<div class="container-fluid p-5">
  <div class="mb-5 text-center">
    <h5 class="text-primary text-uppercase">CONTÁCTENOS</h5>
    <h1 class="display-3 text-uppercase mb-0">PONERSE EN CONTACTO</h1>
  </div>
  <div class="row g-5 mb-5">
    <div class="col-lg-4">
      <div
        class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3"
      >
        <div
          class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
          style="width: 60px; height: 60px"
        >
          <i class="fa fa-map-marker-alt fs-4 text-white"></i>
        </div>
        <h5 class="text-uppercase text-primary">Visitanos</h5>
        <p class="text-secondary mb-0">Avenida, Melchor Ocampo 1780, Emiliano Zapata, 60950 Cdad. Lázaro Cárdenas, Mich.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3"
      >
        <div
          class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
          style="width: 60px; height: 60px"
        >
          <i class="fa fa-envelope fs-4 text-white"></i>
        </div>
        <h5 class="text-uppercase text-primary">Envianos un email</h5>
        <p class="text-secondary mb-0">itlac21560354@lcardenas.tecnm.mx</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3"
      >
        <div
          class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
          style="width: 60px; height: 60px"
        >
          <i class="fa fa-phone fs-4 text-white"></i>
        </div>
        <h5 class="text-uppercase text-primary">Llamanos</h5>
        <p class="text-secondary mb-0">+52 1 753 168 5671</p>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-lg-6">
      <div class="bg-dark p-5">
        <form>
          <div class="row g-3">
            <div class="col-6">
              <input
                type="text"
                class="form-control bg-light border-0 px-4"
                placeholder="Tu Nombre"
                style="height: 55px"
              />
            </div>
            <div class="col-6">
              <input
                type="email"
                class="form-control bg-light border-0 px-4"
                placeholder="Tu Email"
                style="height: 55px"
              />
            </div>
            <div class="col-12">
              <input
                type="text"
                class="form-control bg-light border-0 px-4"
                placeholder="Asunto"
                style="height: 55px"
              />
            </div>
            <div class="col-12">
              <textarea
                class="form-control bg-light border-0 px-4 py-3"
                rows="4"
                placeholder="Mensaje"
              ></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary w-100 py-3" type="submit">
                Enviar Mensaje
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <iframe
        class="w-100"
        src="
        https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1341.7713169801837!2d-102.23294703427386!3d17.973972805862935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84315d06146cdce3%3A0x995c19fc6bf7f16a!2sINFINITY%20GYM!5e0!3m2!1ses-419!2smx!4v1715230564822!5m2!1ses-419!2smx        "
        frameborder="0"
        style="height: 457px; border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</div>
<!-- Contact End -->
