<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h1 class="display-2 text-uppercase text-white mb-md-4">
        {{ rutina.nombre }}
      </h1>
      <a class="btn btn-primary py-md-3 px-md-5 me-3">Empezar</a>
      <a href="" class="btn btn-light py-md-3 px-md-5">Blog</a>
    </div>
  </div>
</div>
<!-- Hero End -->

<ng-template #loader>
  <div class="text-center" style="margin-top: 5%">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Cargando Rutinas...</p>
  </div>
</ng-template>
<!-- Blog Start -->
<div class="container-fluid p-5">
  <div class="row g-5">
    <!-- Blog list Start -->
    <div class="col-lg-8">
      <div class="row g-5" *ngIf="!loading; else loader">
        <ng-container *ngIf="ejercicios.length > 0; else noEjercicios">
          <div class="col-md-6" *ngFor="let ejercicio of ejercicios">
            <div class="blog-item">
              <div class="position-relative overflow-hidden rounded-top">
                <img class="img-fluid" [src]="ejercicio.miniatura" alt="" />
              </div>
              <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                <div
                  class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3"
                >
                  <span>{{ ejercicio.created_at | date : "dd" }}</span>
                  <h6 class="text-light text-uppercase mb-0">
                    {{ ejercicio.created_at | date : "MMM" }}
                  </h6>
                  <span>{{ ejercicio.created_at | date : "yyyy" }}</span>
                </div>
                <a
                  class="h5 text-uppercase text-light"
                  [href]="'/pages/grupos-musculares/video/' + ejercicio.id"
                  >{{ ejercicio.nombre }}</a
                >
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noEjercicios>
          <div class="col-md-12 text-center">
            <p class="text-secondary">Sin rutinas por el momento.</p>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Blog list End -->

    <!-- Sidebar Start -->
    <div class="col-lg-4">
      <!-- Search Form Start -->
      <div class="mb-5">
        <div class="input-group">
          <input type="text" class="form-control p-3" placeholder="Keyword" />
          <button class="btn btn-primary px-4">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <!-- Search Form End -->

      <!-- Category Start -->
      <div class="mb-5">
        <h3 class="text-uppercase mb-4">Categories</h3>
        <div
          class="d-flex flex-column justify-content-start bg-dark rounded p-4"
        >
          <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="#"
            ><i class="bi bi-arrow-right text-primary me-2"></i>Web Design</a
          >
          <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="#"
            ><i class="bi bi-arrow-right text-primary me-2"></i>Web
            Development</a
          >
          <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="#"
            ><i class="bi bi-arrow-right text-primary me-2"></i>Web
            Development</a
          >
          <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="#"
            ><i class="bi bi-arrow-right text-primary me-2"></i>Keyword
            Research</a
          >
          <a class="fs-5 fw-bold text-light text-uppercase" href="#"
            ><i class="bi bi-arrow-right text-primary me-2"></i>Email
            Marketing</a
          >
        </div>
      </div>
      <!-- Category End -->

      <!-- Recent Post Start -->
      <div class="mb-5">
        <h3 class="text-uppercase mb-4">Recent Post</h3>
        <div class="bg-dark rounded p-4">
          <div class="d-flex overflow-hidden mb-3">
            <img
              class="img-fluid flex-shrink-0 rounded-start"
              src="../../../../assets/img/blog-1.jpg"
              style="width: 75px"
              alt=""
            />
            <a
              href=""
              class="d-flex align-items-center bg-light rounded-end h5 text-uppercase p-3 mb-0"
              >Sed amet tempor amet sit kasd sea lorem
            </a>
          </div>
          <div class="d-flex overflow-hidden mb-3">
            <img
              class="img-fluid flex-shrink-0 rounded-start"
              src="../../../../assets/img/blog-2.jpg"
              style="width: 75px"
              alt=""
            />
            <a
              href=""
              class="d-flex align-items-center bg-light rounded-end h5 text-uppercase p-3 mb-0"
              >Sed amet tempor amet sit kasd sea lorem
            </a>
          </div>
          <div class="d-flex overflow-hidden mb-3">
            <img
              class="img-fluid flex-shrink-0 rounded-start"
              src="../../../../assets/img/blog-3.jpg"
              style="width: 75px"
              alt=""
            />
            <a
              href=""
              class="d-flex align-items-center bg-light rounded-end h5 text-uppercase p-3 mb-0"
              >Sed amet tempor amet sit kasd sea lorem
            </a>
          </div>
          <div class="d-flex overflow-hidden mb-3">
            <img
              class="img-fluid flex-shrink-0 rounded-start"
              src="../../../../assets/img/blog-1.jpg"
              style="width: 75px"
              alt=""
            />
            <a
              href=""
              class="d-flex align-items-center bg-light rounded-end h5 text-uppercase p-3 mb-0"
              >Sed amet tempor amet sit kasd sea lorem
            </a>
          </div>
          <div class="d-flex overflow-hidden">
            <img
              class="img-fluid flex-shrink-0 rounded-start"
              src="../../../../assets/img/blog-2.jpg"
              style="width: 75px"
              alt=""
            />
            <a
              href=""
              class="d-flex align-items-center bg-light rounded-end h5 text-uppercase p-3 mb-0"
              >Sed amet tempor amet sit kasd sea lorem
            </a>
          </div>
        </div>
      </div>
      <!-- Recent Post End -->

      <!-- Tags Start -->
      <div class="mb-5">
        <h3 class="text-uppercase mb-4">Tag Cloud</h3>
        <div class="d-flex flex-wrap m-n1">
          <a href="" class="btn btn-dark m-1">Design</a>
          <a href="" class="btn btn-dark m-1">Development</a>
          <a href="" class="btn btn-dark m-1">Marketing</a>
          <a href="" class="btn btn-dark m-1">SEO</a>
          <a href="" class="btn btn-dark m-1">Writing</a>
          <a href="" class="btn btn-dark m-1">Consulting</a>
          <a href="" class="btn btn-dark m-1">Design</a>
          <a href="" class="btn btn-dark m-1">Development</a>
          <a href="" class="btn btn-dark m-1">Marketing</a>
          <a href="" class="btn btn-dark m-1">SEO</a>
          <a href="" class="btn btn-dark m-1">Writing</a>
          <a href="" class="btn btn-dark m-1">Consulting</a>
        </div>
      </div>
      <!-- Tags End -->

      <!-- Plain Text Start -->
      <div>
        <h3 class="text-uppercase mb-4">Plain Text</h3>
        <div
          class="bg-dark rounded text-center text-light"
          style="padding: 30px"
        >
          <p>
            Vero sea et accusam justo dolor accusam lorem consetetur, dolores
            sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor
            magna takimata, amet sit et diam dolor ipsum amet diam
          </p>
          <a href="" class="btn btn-primary py-2 px-4">Read More</a>
        </div>
      </div>
      <!-- Plain Text End -->
    </div>
    <!-- Sidebar End -->
  </div>
</div>
<!-- Blog End -->
